@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Minim Base VF", sans-serif;
    --font-soft: "Minim Soft VF", sans-serif;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-stroke-neutral;
  }

  body {
    @apply bg-bg-layer text-fg-neutral;
  }
}